body {
    margin: auto;
    width: 1600px;
}

/* HEADER */

header {
    display: flex;
    height: 80px;
    border-bottom: 2px solid #ECECEC;

}

header div.nav-menu a {
    padding-top: 24px;
    padding-left: 215px;
    padding-right: 94px;

    display: block;
    color: #000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;

}

header div.nav-menu a span {
    color: #2196F3;
}

header nav ul {
    padding-left: 0px;
    margin-top: 32px;
}

header nav ul li {
    display: inline;
    padding-right: 50px;
}

header nav ul li a {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

header div.contacts ul {
    padding-left: 0px;
    margin-top: 32px;
    margin-left: 331px;
}

header div.contacts ul li {
    display: inline-block;
    padding-right: 50px;
}

header div.contacts ul li a {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

header div.contacts ul li a:hover {
    color: #2196F3;
}

header li a:hover {
    color: #2196F3;
}

/* END HEADER */


/* MAIN INFORMATION (INDEX) */


section.main-screen {
    height: 600px;
    margin-top: -37px;
    background-color: #2F303A;
    align-items: center;
    text-align: center;
}

section.main-screen h1 {
    color: #ffff;
    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

section.main-screen button {
    color: #ffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid #2196F3;
}

/* END MAIN INFORMATION*/


/* COMPETENSION BLOCK (INDEX)*/

section.competension {
    text-align: left;
}

section.competension ul {
    padding-left: 0px;
    margin-top: 94px;
    margin-left: 215px;

}

section.competension ul li {
    display: inline-block;
    padding-right: 30px;

}

section.competension ul li h3 {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

section.competension ul li p {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* END COMPETENSION BLOCK*/

/* ABOUT BUSINESS (INDEX) */

h2.main-title {
    color: #212121;
    padding-top: 94px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

section.about ul {
    padding-left: 215px;
    margin-bottom: 94px;
}

section.about ul li {
    display: inline-flex;
    list-style-type: none;
    padding-right: 30px;
}


/* END ABOUT BUSINESS */

/* TEAM BLOCK (INDEX) */
section.team {
    background-color: #F5F4FA;
}

section.team ul {
    padding-left: 0px;
    margin-left: 215px;
    margin-bottom: 0px;
}

section.team ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    background-color: #fff;
    margin-bottom: 94px;
}

section.team ul li h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

section.team ul li p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*  List navigation (Portfolio) */
main ul.nav-button {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    padding-left: 0px;
}

main ul.nav-button li {
    display: inline-block;
    list-style-type: none;
}


main ul.nav-button li button {
    color: #000;
    margin-right: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid #F5F4FA;
}

main ul.nav-button li button:hover {
    color: #ffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    background: #2196F3;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* END List navigation (Portfolio) */

/* MAIN CONTENT (Portfolio) */

main ul.prodjects {
    padding: 0px;
    margin-top: 0px;
    margin-left: 215px;
    margin-bottom: 94px;
}

main ul.prodjects li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

main ul.prodjects li h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}

main ul.prodjects li p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
}

/* END MAIN CONTENT (Portfolio) */

/* FOOTER */

footer {
    background-color: #2F303A;
    height: 252px;
}

footer p.f-logotype {
    padding-top: 60px;
    margin: 0;
}

footer p.f-logotype a.f-logo {
    margin-left: 215px;
    color: #fff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

footer a.f-logo span {
    color: #2196F3;
}

footer address p {
    color: #fff;
    margin-top: 20px;
    margin-left: 215px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

address ul {
    list-style-type: none;
    padding: 0;
    margin-top: 9px;
}

address ul li.f-contacts a {
    margin-left: 215px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* END FOOTER */